body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
}

.row {
  margin: 0;
  background-color: #fff;
}

.bg-transparent {
  background: transparent;
}

.logo {
  width: 155px;
  height: 130px;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.phone-number {
  background: #fa6210;
  color: #fff;
  font-size: 26px;
  padding: 7px 20px;
  border-radius: 5px;
}
.navbar {
  background: #096db9;
  margin-top: 13px;
  margin-bottom: 12px;
}
.navbar .navbar-nav .nav-link {
  color: white;
  padding: 5px 20px;
}
.navbar-expand-lg .navbar-nav {
  color: gray;
  cursor: pointer;
}
.carousel-inner {
  height: 600px;
  margin-bottom: 18px;
}
.principal-message-row {
  background: #f0f0f0;
  margin-bottom: 43px;
}
.principal-message-row > div {
  padding: 15px;
  background-color: #fff;
  width: 30%;
}

.principal-message-row > div:not(:last-child) {
  margin-right: 64px;
}
.principal-message-row img {
  width: 100%;
  height: 200px;
}
.principal-message-row > div > div {
  background: #fa6210;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
}
.principal-message-row .read-more-btn {
  text-align: center;
  background: white;
}

.principal-message-row .read-more-btn > button {
  background: #0d4068;
  color: #fff;
  padding: 5px 21px;
  border: none;
  border-radius: 4px;
}
.principal-message-row .read-more-btn > button:hover {
  background: #fa6210;
  transition: all 0.3s ease-in-out;
}
.col-md-4 .paragraph {
  color: #fa6210;
}
.col-md-4 p {
  color: gray;
}
.btn-parent {
  text-align: center;
}
.about-us {
  margin-bottom: 30px;
}
.btn-primary {
  background: #003258;
  border: none;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #fa6210;
}
.image {
  width: 132px;
  height: 115px;
}
.img-image {
  width: 204px;
  margin-left: 104px;
}
.news-events > div {
  text-align: center;
}
.img {
  margin-bottom: 34px;
}
.about-us > div {
  padding-top: 10px;
}
.read-more {
  background: #0d4068;
  color: #fff;
  padding: 5px 21px;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.read-more:hover {
  background: #fa6210;
}
.news-letter {
  margin-top: 10px;
}
.marquee-container {
  background-color: #fff;
  width: 259px;
  margin-top: 20px;
}
.marquee-container h6 {
  text-align: center;
}
.marquee {
  width: 100%;
  height: 190px;
  border: 1px solid green;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
}
.topper {
  padding: 20px 0 40px 0;
  background: url(../asset/images/congr.png);
}
.topper h3 {
  text-align: center;
}
.para {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.topper-image {
  border: black;
  display: inline-block;
  margin-right: 20px;
}

.topper-image img {
  margin-top: 10px;
  border-radius: 5px;
  width: 168px;
  height: 150px;
}
