body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
}

.row {
  margin: 0;
}

.logo {
  width: 155px;
  height: 130px;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.phone-number {
  background: #fa6210;
  color: #fff;
  font-size: 26px;
  padding: 7px 20px;
  border-radius: 5px;
}
.navbar {
  background: #096db9;
  margin-top: 13px;
  margin-bottom: 12px;
}
.navbar .navbar-nav .nav-link {
  color: white;
  padding: 5px 20px;
}
.navbar-expand-lg .navbar-nav {
  color: gray;
  cursor: pointer;
}
.carousel-inner {
  height: 600px;
  margin-bottom: 18px;
}
.principal-message-row {
  background: #f0f0f0;
}
.principal-message-row > div {
  padding: 15px;
  background-color: #fff;
  width: 30%;
}

.principal-message-row > div:not(:last-child) {
  margin-right: 64px;
}
.principal-message-row img {
  width: 100%;
  height: 200px;
}
.principal-message-row > div > div {
  background: #fa6210;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
}
.principal-message-row .read-more-btn {
  text-align: center;
  background: white;
}

.principal-message-row .read-more-btn > button {
  background: #0d4068;
  color: #fff;
  padding: 5px 21px;
  border: none;
  border-radius: 4px;
}
.principal-message-row .read-more-btn > button:hover {
  background: #fa6210;
  transition: all 0.3s ease-in-out;
}
